<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - October 5</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Tech check, Unix Review</td> </tr>
      <tr> <td>14:00</td>  <td>Git setup and Foundations</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>15:15</td>  <td>Git practice</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - October 6</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Python Foundations</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:15</td>  <td>Python Foundations </td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
<div class="col-md-6">
  <h3>Day 3 - October 7</h3>
  <table class="table table-striped">
    <tr> <td>13:00</td>  <td>Intermediate Python</td> </tr>
    <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
    <tr> <td>15:15</td>  <td>Intermediate Python</td> </tr>
    <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
    <tr> <td>17:00</td>  <td>END</td> </tr>
  </table>
</div>
<div class="col-md-6">
  <h3>Day 4 - October 8</h3>
  <table class="table table-striped">
    <tr> <td>13:00</td>  <td>Plotting in Python</td> </tr>
    <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
    <tr> <td>15:15</td>  <td>Plotting Docs and Datasets</td> </tr>
    <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
    <tr> <td>16:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    <tr> <td>17:00</td>  <td>END</td> </tr>
  </table>
</div>
</div>
