<div class="row">
  <div class="col-md-6">
    <h3>Pre-workshop installfest (optional): October 2</h3>
    <p>
		The instructors will host a one-hour troubleshooting session on <strong>Friday, October 2 at 10am EDT</strong> to address any issue you may encounter while installing the required software. Attendance is not required, just drop in if you have questions or issues.
	</p>  
    <h3>Day 1 - October 5</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Tech check, <a href="http://swcarpentry.github.io/shell-novice/">Unix Review</a></td> </tr>
      <tr> <td>14:00</td>  <td>Git setup and <a href="http://swcarpentry.github.io/git-novice/">Foundations</a></td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>15:15</td>  <td>Git practice</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
<!--   </div>
  <div class="col-md-6"> -->
    <h3>Day 2 - October 6</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Python Foundations</a></td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:15</td>  <td>Python Foundations </td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
<!--   </div>
<div class="col-md-6"> -->
  <h3>Day 3 - October 7</h3>
  <table class="table table-striped">
    <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html">Intermediate Python</a></td> </tr>
    <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
    <tr> <td>15:15</td>  <td>Intermediate Python</td> </tr>
    <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
    <tr> <td>17:00</td>  <td>END</td> </tr>
  </table>
<!-- </div>
<div class="col-md-6"> -->
  <h3>Day 4 - October 8</h3>
  <table class="table table-striped">
    <tr> <td>13:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html">Plotting in Python</a></td> </tr>
    <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
    <tr> <td>15:15</td>  <td>Plotting Docs and Datasets</td> </tr>
    <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
    <tr> <td>16:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    <tr> <td>17:00</td>  <td>END</td> </tr>
  </table>
</div>
</div>
